#Ignore the html files
Docs.html linguist-detectable=false

#Ignore the React Public/index.html for language stats.
billing-software/public/index.html linguist-detectable=false

#Ensure Java files are correctly classified.
*.java linguist-language=true

